@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* Presidential Theme Colors */
@theme {
  --color-slate-800: #112240;
  --color-slate-900: #0A192F;
  --color-slate-950: #020C1B;
  --color-yellow-400: #D4AF37;
  --color-yellow-500: #B5952F;
  --color-blue-400: #64FFDA;
  --color-blue-600: #1D4ED8;
  --color-blue-900: #0A192F;
}
